body {
  background-color: #F6F8F8;
}

* {
  border-color: #00628B;
}

body header {
  padding: 0;
  margin: 0 auto;
  width: 75%;
}

header #page_title{
  display: inline-block;
  font-weight: normal;
}

ul {
  list-style: none;
  float: right;
}
ul li {
  display: inline;
  font-size: 32px;
  color: #00628B;
}

body #container_info {
  padding: 0;
  margin: 0 auto;
  width: 50%;
  height: 75%;
  border-style: solid;
}

body #container_info #main_info {
  padding: 10px;
}

#main_info #details{
  display: inline-block;
  vertical-align: top;
}

/* Code taken and modified from Linora source
  by rich boakes and kit lester */
input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  border-radius: 0.5ex;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="radio"]:checked + label {
  background: #00628B;
  color: #FFF;
}

nav {
  padding: 20px;
  margin: 0 auto;
  width: 50%;
  height: 75%;
  text-align: center;
  font-size: 27px;
}

#content_container {
  padding: 20px;
  margin: 0 auto;
  width: 75%;
  height: 75%;
  border-style: inset;
}

#container {
  margin: 0 auto;
  width: 75%;
  height: 75%;
  background-color: white;
  padding: 20px;
  border-style: double;
}

.content {
  padding: 10px;
}

.post {
  border-style: groove;
  padding-left: 5px;
  padding-right: 5px;
}
.comment {
  border-style: groove;
  width: 95%;
  margin: 0 auto;
}

.post .post_info {
  margin: auto;
  color: #00628B;
}
