html, body {
    margin:0;
    padding:0;
    height: 100%;
    background: #eeeeee;
}
h1 {
    margin:0;
}

hr {
  margin: 0;
}


h3 {
  margin-bottom: 5px;
  color: #2196f3;
}

header{
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.2);
  position: relative;
}

header a {
  color: white;
}

.content {
  z-index: 2;
  padding: 5px;
}

header {
  background: #90caf9;
  margin: 0;
  z-index: 1;
}

.timestamp {
  font-size: 12;
  color: grey;
}

.post-content, .comment-content {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #2196f3;
}

#main {
  float: left;
  margin: 0;
  width: 70%;
  height: 100%;
  min-height:100vh;
}

#links {
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table, th, td {
    border: 2px solid black;
}

form {
  padding-bottom: 15px;
}

.infopanel {
  margin: 20px;
  background: #fafafa;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.4);
  position: relative;
}

#profile-picture {
    width: 75%;
    border-radius: 50%;
}

#info {
  float: left;
  margin: 0;
  width:30%;
  min-height: 100%;
  min-height:100vh;
}

.filler {
  margin-top: 40px;
}

.info-container {
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-container a {
  padding: 25px;
  dislay: block;
}

.contentBox{
  margin: 0 auto;
  width: 90%;
}

.offset, .comments li {
  margin: 0 auto;
  width: 95%;
  padding-top: 3px;
}

.square {
    float:left;
    position: relative;
    width: 15%;
    max-height: 2px;
    padding-bottom : 15%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    border: solid;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.square:hover {
  cursor: pointer;
  background: #eeeeee;
}

#bottom {
  clear:both;
  
}

.tabs {
  display: none;
  margin: 0;
}
.tabbar {
  display: inline-block;
  width: 19%;
  cursor: pointer;
  text-align: center;
  z-index: 2;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.2);
  margin-bottom: 30px;
  background: #fafafa;
}

.tab-label {
  margin-top: 5px;
}

.panel {
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.4);
  position: relative;
  background: #fafafa;
  margin-top: 5px;
}

ul, li {
  list-style: none;
  padding: 0;
}





#main section {
  display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
}

[id^="tab"]:checked + label {
  box-shadow: inset 0 3px #2196f3;
}


@keyframes fadeInScale {

  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }

  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}

.tab-content p,
.tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
